@model List<BlogAspNet2.Models.PostModel>
<h2>Search Ressults</h2>

@for (int i = Model.Count - 1; i >= 0; i--)
{
    <h1>@Model[i].Title</h1>
    <p>Written at: @Model[i].Datetime Category: @Model[i].FkCategory.Name</p>
    <br />
    <p>@Model[i].Post</p>
}